.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search {
    width: 400px;
    position: relative;
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('/search.svg');
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      right: 10px;
      top: 10px;
    }
  }

  &__user {
    display: flex;
  }

  &__person {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__container {
    margin-left: 20px;
  }

  &__position {
    font-size: 14px;
    color: rgb(179, 169, 169);
  }
}